@page "/"
@*<h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

<Breadcrumb>
    <BreadcrumbNavLink Name="Home" Href="#" IsActive="false"></BreadcrumbNavLink>
    <BreadcrumbNavLink Name="Gallery" Href="#" IsActive="false"></BreadcrumbNavLink>
    <BreadcrumbNavLink Name="Library" Href="#" IsActive="false"></BreadcrumbNavLink>
    <BreadcrumbNavLink Name="Web" Href="#" IsActive="false"></BreadcrumbNavLink>
    <BreadcrumbNavLink Name="Data" Href="#" IsActive="true"></BreadcrumbNavLink>
</Breadcrumb>